<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>markright</title>
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/hljs.css" />
        <link rel="stylesheet" href="/styles/editor.css" />
        <link rel="stylesheet" href="/styles/app.css" />
        <link rel="stylesheet" href="/styles/account.css" />
    </head>
    <body>
        <div class="flex">
            <div id="main">
                <h1>Sign up or log in to save your work.</h1>
                <form><input type</form>
            </div>
            <div id="showcase">
                <img src="/assets/app.png" />
            </div>
        </div>
    </body>
</html>
