<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>markright</title>
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/hljs.css" />
        <link rel="stylesheet" href="/styles/editor.css" />
        <link rel="stylesheet" href="/styles/app.css" />
        <link rel="stylesheet" href="/styles/account.css" />
    </head>
    <body>
        <div class="flex">
            <div id="main">
                <div>
                    <h1>Sign up to save your work.</h1>
                    <form
                        action="/signup"
                        method="POST"
                        style="
                            border-bottom: 1px solid #e2e8f0;
                            padding-bottom: 3rem;
                        ">
                        <input
                            autocomplete="off"
                            name="email"
                            placeholder="Email..."
                            required
                            type="text" />
                        <input
                            autocomplete="off"
                            name="password"
                            placeholder="Password..."
                            required
                            type="password" />
                        <button type="submit" style="transform: rotate(-3deg)">
                            Sign up &rarr;
                        </button>
                    </form>
                    <h1>Or already have an account? Log in.</h1>
                    <form action="/login" method="POST">
                        <input
                            autocomplete="off"
                            name="email"
                            placeholder="Email..."
                            required
                            type="text" />
                        <input
                            autocomplete="off"
                            name="password"
                            placeholder="Password..."
                            required
                            type="password" />
                        <button type="submit" style="transform: rotate(1deg)">
                            Log in &rarr;
                        </button>
                    </form>
                </div>
            </div>
            <div id="showcase">
                <img src="/assets/app.png" />
            </div>
        </div>
    </body>
</html>
