<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>markright</title>
        <link rel="stylesheet" href="/styles/base.css" />
        <link rel="stylesheet" href="/styles/hljs.css" />
        <link rel="stylesheet" href="/styles/app.css" />
        <link rel="stylesheet" href="/styles/editor.css" />
        <script src="/scripts/hljs.js"></script>
        <script src="/scripts/utils.js"></script>
        <script src="/scripts/parser.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    </head>
    <body>
        <div class="contextmenu" id="folder-contextmenu">
            <div class="item" id="new-file">New file</div>
            <div class="item" id="rename-folder">Rename</div>
            <div class="item" id="delete-folder">
                <span style="color: red">Delete</span>
            </div>
        </div>
        <div class="contextmenu" id="file-contextmenu">
            <div class="item" id="rename-file">Rename</div>
            <div class="item" id="download-markdown">Download Markdown</div>
            <div class="item" id="download-html">Download HTML</div>
            <div class="item" id="delete-file">
                <span style="color: red">Delete</span>
            </div>
        </div>
        <div id="wrapper">
            <div id="menu">
                <div>
                    <form action="/logout" method="GET">
                        <button class="menu-button" id="logout">
                            Log out &rarr;
                        </button>
                    </form>
                    <ul id="tree"></ul>
                </div>
                <button class="menu-button" id="new">&plus; New folder</button>
            </div>
            <textarea id="input"></textarea>
            <div id="output"></div>
        </div>
        <script src="/scripts/app.js"></script>
    </body>
</html>
