@font-face {
    font-family: "PT Mono";
    src: url("../public/fonts/PTMono-Regular.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body,
html {
    @apply m-0 max-h-screen p-0;
}

input:not(.ui-input) {
    @apply border-none focus:outline-none focus:ring-0 #{!important};
}

.checkbox {
    @apply h-4 w-4 shrink-0 rounded-sm border border-slate-300 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-700 dark:text-slate-50 dark:focus:ring-slate-400 dark:focus:ring-offset-slate-900;
}

.ace_dialog {
    @apply border-slate-200;
}

.prose {
    code,
    pre {
        @apply font-mono;
    }

    .tasklist {
        @apply ml-0 list-none pl-0;

        input[type="checkbox"] {
            border: 1px solid #e5e5e5 !important;
            border-radius: 5px;
            line-height: inherit;
            margin-right: 6px;
            vertical-align: middle;

            &:focus {
                box-shadow: none !important;
                outline: 0 !important;
            }

            &:checked {
                border-color: #0284c7;
            }
        }
    }
}

@media print {
    @page {
        margin: 3.5rem 0;
    }

    body {
        @apply prose prose-2xl prose-slate block px-7 py-4;
    }

    pre {
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}
