@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    @apply m-0 max-h-screen p-0;
}

input:not(.ui-input) {
    @apply border-none focus:outline-none focus:ring-0 #{!important};
}

.checkbox {
    @apply h-4 w-4 shrink-0 rounded-sm border border-slate-300 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-700 dark:text-slate-50 dark:focus:ring-slate-400 dark:focus:ring-offset-slate-900;
}

.ace_dialog {
    @apply border-slate-200;
}

@media print {
    body * {
        visibility: hidden;
    }

    #output * {
        visibility: visible;
    }

    #output {
        background-color: white;
        display: block;
        width: auto;
        height: auto;
        overflow: visible;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        @apply prose prose-2xl prose-slate;

        .output-options-trigger,
        .output-options-content {
            @apply hidden;
        }
    }
}
